<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Event name</th>
        <th>Details</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {{#each events}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                {{details}}
            </td>
            <td>
                {{price}}
            </td>
            <td>
                {{date}}
            </td>
            <td>
                <a href="/event/deleteevent/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

